/target/
/dspace-services/target/
/dspace-jspui/target/
/dspace-semantic-api/target/
/dspace-api/target/
/dspace-oai/target/
/dspace/target/
/dspace/modules/additions/target/
/dspace-xmlui/target/
/dspace/modules/xmlui/target/
/dspace-lni/target/
/dspace/modules/lni/target/
/dspace/modules/jspui/target/
/dspace-sword/target/
/dspace/modules/sword/target/
/dspace-swordv2/target/
/dspace/modules/swordv2/target/
/dspace/modules/solr/target/
/dspace/modules/oai/target/
/dspace-lni/dspace-lni-client/target/