
/* CSS Document */

/* semantic search custom styling */

body
{
    position: relative;
}
div.autosuggest
{
    position: absolute;
    padding: 0 0 0 0;
 	  border: solid 1px #000044;
    background-color: #ffffff;
}
div.autosuggest div.as_header,
div.autosuggest div.as_footer
{
    position: relative;
    height: 6px;
    padding: 0 6px;
    overflow: hidden;
}
div.autosuggest div.as_header div.as_corner,
div.autosuggest div.as_footer div.as_corner
{
    position: absolute;
    top: 20px;
    left: 0;
    height: 6px;
    width: 5px;
}
div.autosuggest div.as_header div.as_bar,
div.autosuggest div.as_footer div.as_bar
{
    height: 6px;
    overflow: hidden;
}
div.autosuggest ul
{
    list-style: none;
    margin: 0 0 -4px 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
div.autosuggest ul li
{
    color: #222222;
    font-size: 8pt;
    padding: 0;
    line-height: 9px;
    margin: 0 4px 4px;
    text-align: left;
}
div.autosuggest ul li a
{
    color: #222222;
    display: block;
    text-decoration: none;
    position: relative;
    padding: 0;
    width: 100%;
}
div.autosuggest ul li a:hover
{
    background-color: #444;
}
div.autosuggest ul li.as_highlight a:hover
{
    background-color: #ddddff;
}
div.autosuggest ul li a span
{
    display: block;
    padding: 3px 6px;
/*	font-weight: bold;*/
}
div.autosuggest ul li a span small
{
    font-weight: normal;
    color: #999;
}
div.autosuggest ul li.as_highlight a span small
{
    color: #ccc;
}
div.autosuggest ul li.as_highlight a
{
    background-color: #ddddff;
}
div.autosuggest ul li.as_highlight a span
{
    background-position: bottom left;
    background-repeat: no-repeat;
}
div.autosuggest ul li a .tl,
div.autosuggest ul li a .tr
{
    background-repeat: no-repeat;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
}
div.autosuggest ul li a .tr
{
    right: 0;
}
div.autosuggest ul li.as_highlight a .tl
{
    left: 0;
}
div.autosuggest ul li.as_highlight a .tr
{
    right: 0;
}
div.autosuggest ul li.as_warning
{
    font-weight: bold;
    text-align: center;
}
div.autosuggest ul em
{
    font-style: normal;
    font-weight: bolder;
    color: #11aa11;
}
form.autocomplete {display: inline;}


.x-combo-list-group {
  font: bold 100% Helvetica Neue,Helvetica,Arial,sans-serif !important;
  padding: 2px;
  border: 1px solid #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/******* overlay for codemirror.css ******/ 

/* added by @gs for styling codemirror placeholders (only) */
.CodeMirror pre.CodeMirror-placeholder {  
  color: gray;
  font: 14px Helvetica Neue,Helvetica,Arial,sans-serif !important;    
}

/* added by @gs for controlling font inside codemirror textarea  */
.CodeMirror pre {
  font: 14px Helvetica Neue,Helvetica,Arial,sans-serif !important;
}      

/* added by @gs for controlling font inside codemirror (SPARQL) textarea  */
.CodeMirror-code {
  font:  14px Helvetica Neue,Helvetica,Arial,sans-serif !important;
}           
     

/* added by @GS for Manchester Syntax syntax highlighting*/
.cm-s-default .cm-ms-restriction {color: #C323AE;}
.cm-s-default .cm-ms-boolean {color: #13D2BC;}
.cm-s-default .cm-ms-keyword {color: blue;}


.CodeMirror-gutters {
  width: 22px;   /* width of the grey frame      */
}
/*.CodeMirror-sizer {
  left: 2px; /* distance (of query) from grey frame 
  margin-left: 0px;
}   */
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  min-width: 0px;        /* this min-max declaration makes the difference !  */
  max-width: 0px;
}

.CodeMirror-vscrollbar {
  overflow-y: hidden !important; /* vertical scrollbar should be 'hidden' - otherwise overwrites history button*/
}

/* sets better padding for text in the codemirror fields */
.CodeMirror-lines {
  padding: 1px 0px !important;
}


/****** overlay for ext-all.css ******/

/* added by @GS for removing the title of the sparql tab panel (it was appearing twice)*/
.x-panel-header {
    display:none;
}


/* added by @GS for setting the font size of the grid panel (used for query history) */
.x-grid3-cell-inner, .x-grid3-hd-inner{
    font-size:14px Helvetica Neue,Helvetica,Arial,sans-serif !important;
    white-space: normal; /* for word wrapping */
  /*  background-color: red !important;    */
}

/****** overlay for xtheme-gray.css ******/

/* added by @GS for making menu of history button disappear */ 
.x-menu-floating {
    border-color: transparent;
    background-color: transparent;
}

.x-shadow .xst{
    visibility: hidden;
} 

.wrap-button .x-button-label {
    font: 3px Helvetica Neue,Helvetica,Arial,sans-serif;
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
}


/* new style for ext-js (necessary because of bootstrap specific style)*/
.x-form-item {
  font-size: 14px !important;
}



/* added by @GS for styling emptytext */ 
.x-form-empty-field {
    color:#C0C0C0;
    font: 14px Helvetica Neue,Helvetica,Arial,sans-serif !important;
}

/* the following properties adjust font size for labels and text boxes */

/*for text fields font size */
.x-form-text {
  font: 14px Helvetica Neue,Helvetica,Arial,sans-serif !important;       */
}

.ext-strict .x-form-text{
  height: auto !important;  /*for "higher" text boxes*/
}

/* for tabs's title */
.x-tab-strip-top .x-tab-strip-active .x-tab-right{
  font: 14px Helvetica Neue,Helvetica,Arial,sans-serif !important; 
}

/* for tabs's title */
.x-tab-strip-text{
  font: 14px Helvetica Neue,Helvetica,Arial,sans-serif !important;
}

/* for buttons' text*/
.x-btn-noicon .x-btn-small .x-btn-text {
  font: 14px Helvetica Neue,Helvetica,Arial,sans-serif; 
}

/* for radio buttons ("and", "or")*/
.x-form-radio-group {
 width: 130px !important;
}

/* for checkbox ("not")*/
.x-form-check-wrap{
 width: 130px !important;
} 



/* - END OF font specific properties - */


.x-tab-panel-header {
 font-size: 16px;
}

.x-panel-btns {
  width: auto !important;
}

.x-panel-footer {
  width: auto !important;
}

.x-shadow {
  width: 100%;
}
.x-abs-layout-item {
  width: 100%;
}

.x-menu.x-menu-floating.x-layer {
  visibility: hidden !important;
}

/* places  radio buttons' labels (and, or) a bit lower */
.x-form-cb-label {
  top: 8px !important;
  font-size: 14px !important;
}

/*hides border of div "destino"*/
#destino{          
  border: none;
}


/*#x-panel{
position: relative; 
z-index: 1000; 
visibility: visible; 
left: 0px; 
top: 0px; 
width: auto;
}         */



.x-panel .x-abs-layout-item {
width: auto;
}

.x-shadow{
  width: auto;
}

#generatedQuery{          
  border: none;
}

.x-panel-body .x-panel-body-noheader {
  border-color: white;
}

/*
#queryURL:hover #querytooltip {
    display: none;
}  */

/*for labels size ("generated query" and "loaded reasoner is...")*/
label {
  font: bold 14px Helvetica Neue,Helvetica,Arial,sans-serif !important; /* tahoma,arial,helvetica,sans-serif;*/ 
  padding: 5px; 
}


#querytooltip {
    display: none;
    background: #CCE5FF;
    padding: 5px;
    position: fixed;
    z-index: 1000;
    width:auto;
    height:auto;
    border: 1px solid #989898;
    box-shadow: rgb(168,168,168) 5px 5px 5px 0px;
}

/* a class that only applies to the individual's (top) query tooltip, as the standard 
   style (above) doesn't render it correctly */
.left {
    left: 150px !important;
}


#queryURL {
    position: relative;
    height: auto;
}

div.x-sheet.x-msgbox { 
}

/* these two styles (below) fix error message box width (so as not to exceed screen)*/
.x-window.x-window-plain.x-window-dlg {
  width: auto;
  max-width: 300px !important;
}

.ext-mb-content {
   width: auto;
    max-width: 300px !important;
}


/* brings back the css style that the ext-js overwrites (inside semantic.jsp)*/

h1 {
 font-size: 36px !important;
}

h2 {
 font-size: 30px !important;
}

h4 {
 font-size: 18px !important;
}

h1, h2, h3 {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

h4 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}


/*custom styles for bootstrap */

.header{
 font-weight: bold;
 font-size: 14px;
}

.btn-ss {
  padding: 0px 0px;
  margin: 0px 5px;
}

.panel-heading{
 font-weight: bold;
 font-size: 14px;
} 

/* adjusts height of arrow button in combo boxes */
.resize-arrow .x-form-trigger{
  height: 100% !important;
}

/* adjusts padding of "generated query" label */
label#ext-comp-1017 {
  padding: 3px 3px 3px 0px;
}