/* CSS Document */

/******* overlay for codemirror.css ******/ 

/* added by @gs for styling codemirror placeholder */
.CodeMirror pre.CodeMirror-placeholder {  
  color:#C0C0C0;
  font:11px tahoma, arial, helvetica, sans-serif; 
}

/* added by @gs for controlling font inside codemirror textarea  */
.CodeMirror pre {
  font-size: 11px;
}

/* added by @GS for Manchester Syntax syntax highlighting*/
.cm-s-default .cm-ms-restriction {color: #C323AE;}
.cm-s-default .cm-ms-boolean {color: #13D2BC;}
.cm-s-default .cm-ms-keyword {color: blue;}


.CodeMirror-gutters {
  width: 22px;   /* width of the grey frame      */
}
/*.CodeMirror-sizer {
  left: 2px; /* distance (of query) from grey frame 
  margin-left: 0px;
}   */
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  min-width: 0px;        /* this min-max declaration makes the difference !  */
  max-width: 0px;
  font-size: 11px;
}

/****** overlay for ext-all.css ******/

/* added by @GS for removing the title of the sparql tab panel (it was appearing twice)*/
.x-panel-header {
    display:none;
}


/* added by @GS for setting the font size of the grid panel (used for query history) */
.x-grid3-cell-inner, .x-grid3-hd-inner{
    font-size:11px !important;
    white-space: normal; /* for word wrapping */
  /*  background-color: red !important;    */
}

/****** overlay for xtheme-gray.css ******/

/* added by @GS for styling emptytext */ 
.x-form-empty-field {
    color:#C0C0C0;
    font:11px tahoma, arial, helvetica, sans-serif;   /*added by @GS for styling emptytext */
}

/* added by @GS for making menu of history button disappear */ 
.x-menu-floating {
    border-color: transparent;
    background-color: transparent;
}

.x-shadow .xst{
    visibility: hidden;
} 

.wrap-button .x-button-label {
    font: 3px tahoma, arial, helvetica, sans-serif;
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
}


#queryURL:hover #querytooltip {
    display: block;
}


#querytooltip {
    display: none;
    background: #CCE5FF;
    margin-left: 0px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    width:auto;
    height:auto;
    right: 10px; 
    border: 1px solid #989898;
    box-shadow: rgb(168,168,168) 5px 5px 5px 0px;
}

#queryURL {
    margin:2;
}